<h1>Сайты</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <tbody>
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td>Последняя проверка</td>
                <td>Код ответа</td>
            </tr>
            {% for url in sites %}
            <tr>
                <td>{{ url.id }}</td>
                <td>
                    <a href="/page-analyzer/urls/{{ url.id }}">
                        {{ url.name }}
                    </a>
                </td>
                <td>{{ url.last_check }}</td>
                <td>{{ url.status_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>